<!DOCTYPE html>
<html>	
<head>
	<title>	Music Library</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Quicksand:300,700" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/music.css') }}">
	<script src="../static/js/jquery-3.2.1.min.js"></script>

	<style>
		
	</style>
</head>

<body>
	<div id="nav">
			<ul>
				<li> <a href="/userHome"> Home </a> </li>
				<li> <a href="/logout"> Logout </a> </li>
				<li> <a href="/showUpload"> Upload </a> </li>
			</ul>
		</div>

	<div id="page-body">

		<div id="header">
			<h1>RemoteMusic</h1>
		</div>
		
		<div>
			<p id="msg"></p>
		</div>

		<div id="top">
			<h3>Welcome back to your music library!</h3>
			<p>You'll find all your previously uploaded music tracks below.</p>
		</div>
		
		<form name = 'musicForm' action="{{ url_for('playSong')}}" method="GET">
		<div class="dispMusic">

		<!-- <div class="track">
			<div class="track-img">
				<img src="../static/music.png" alt="Music Icon" height="50" width="50">
			</div>

			<div class="track-desc">
				<h4>Sia - Cheap Thrills</h4>
			</div>

			<div class="play">
				<p>Play</p>
			</div>
		</div> -->
		
	</div>
	
	<input type="hidden" name='songName' value="">
	<div class="stopBtn"><button id="stopButton" onclick="playMusic('stop')" ">Stop</button>
	<div class="stopBtn"><button id="stopButton" onclick="playMusic('queue')" ">Stop All</button>
	</div>
	</form>
	
	

	</div>

<script type='text/javascript'>
    function playMusic(filename){
    	console.log(filename);
    	document.musicForm.songName.value = filename;
    	document.getElementById('msg').innerhtml = "Song added to Queue!"
    	document.musicForm.submit();
    }


    $(function() {
        $.ajax({
            url: '/getSong',
            type: 'GET',
            success: function(res) {
            	var div=$('<div>')
.attr('class', 'track')
.append($('<div>')
.attr('class', 'track-img')
.append($('<img>')
.attr('src', '../static/music.png')
.attr('width' , '50')
.attr('height', 50)),
$('<div>')
            .attr('class', 'track-desc')
	.append($('<h4>')),
$('<div>')
            .attr('class', 'play')
            .append($('<button>')));


    		var songObj = JSON.parse(res);
				var song = '';
				var fcall = 'playMusic(\'';
				
				$.each(songObj,function(index, value){
					song = $(div).clone();
					$(song).find('h4').text(value.Title);
					fcall = fcall+value.Title+'\');';
					$(song).find('button').attr('onclick', fcall);
					$(song).find('button').text('Play');
					$('.dispMusic').append(song);
					fcall = 'playMusic(\'';
				});
                console.log(res);
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
</script>	

</body>
</html>