<!DOCTYPE html>
<html>
	<head>
		<title>SignUp</title>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Quicksand:300,700" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
		<!-- <link type="text/javascript" href="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}">;> -->
		<script src="../static/js/jquery-3.2.1.min.js"></script>
		<script src="../static/js/signUp.js"></script>

		<!-- <script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
		<style>
		</style>

	</head>

	<body>
		<div id="nav">
			<ul>
				<li> <a href="/"> Home </a> </li>
				<li> <a href="/showSignin"> Login </a> </li>
				<li> <a href="#"> About </a> </li>
			</ul>
		</div>

		<div id="header">
			<h1>RemoteMusic</h1>
		</div>

		<div id="login">
			<h3>Sign up for a new account.</h3>
			<div id="log-info">
				<form >
					<p> Name: <input type="name" name="inputName" id="inputName" required> </p> <br>
					<p> Email: <input type="email" name="inputEmail" id="inputEmail" required> </p> <br>
					<p> Password: <input type="password" name="inputPassword" id="inputPassword" required> </p> <br>
					<button id="btnSignUp">Sign Up</button>
				</form>

			<div id="out"></div>
			</div>
		</div>
	</body>
</html>